body{
  background-color: hsla(0, 0%, 0%, 0.774);
}

.to-do-list-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: white;
}

button {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  color: white;
}

input {
  font-size: 1.3rem;
  padding: 3px;
  border: 2px solid hsla(0, 0%, 85%, 0.931);
  border-radius: 5px;
  color: hsla(0, 0%, 45%, 0.84);
  outline-color: hsla(0, 0%, 48%, 0.759);
}

.add-btn {
  margin-left: 3px;
  background-color: hsla(101, 31%, 51%, 0.912);
  border: 2px solid hsl(101, 35%, 31%);
}

.add-btn:hover{
  background-color: hsl(101, 30%, 43%);
}

.remove-btn {
  font-size: 1.1rem;
  background-color: hsla(0, 90%, 44%, 0.898);
  border: 2px solid hsl(0, 81%, 28%);
}

.remove-btn:hover {
  background-color: hsl(0, 88%, 37%);
}

.move-up-btn, .move-down-btn {
  background-color: hsla(273, 90%, 28%, 0.85);
  margin-left: 5px;
  width: 35px;
  height: 30px;
  border: 1px solid hsla(273, 90%, 23%, 0.85);
}

.move-up-btn:hover, .move-down-btn:hover {
  background-color: hsl(283, 87%, 22%);
}

ol {
  padding: 0;
}

li{
  margin-bottom: 10px;
  border: 2px solid hsla(60, 100%, 75%, 0.834);
  box-shadow: 2px 2px 1px 2px black;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: hsla(0, 0%, 91%, 0.903);
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

select {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

option {
  font-weight: bold;
}
